.btn{
    height: 35px;
    width: 40px;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.row.actionButtons {
    display: flex; 
    justify-content: space-between;
    padding: 3% 80%;
  }

  .row.actionButtons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .emptyCart{
    padding: 5px 100px;
    text-align: center;
  }
  
